h1 {
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: Verdana;
}

body {
    background-image: url("https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg");
}

h2 {
    color: white;
    font-size: 35px;
    text-decoration: underline;
}

blockquote {
    font-size: 20px;
}
